In [ ]:
SELECT name, email
FROM Employees;

In [ ]:
SELECT *
FROM Customers
WHERE City = 'New York';

In [ ]:
SELECT *
FROM Users
ORDER BY DateOfBirth DESC;

In [ ]:
SELECT *
FROM Users
ORDER BY RegistrationDate ASC;

In [ ]:
SELECT name, position, salary
FROM Employees
WHERE salary = (SELECT MAX(salary) FROM Employees);

In [ ]:
SELECT *
FROM Customers
WHERE Phone LIKE '+1-___-___-____';

In [ ]:
SELECT CustomerName, SUM(PurchaseAmount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName
ORDER BY TotalPurchaseAmount DESC
LIMIT 5;

In [ ]:
SELECT CategoryName, SUM(SalesAmount) AS TotalSalesAmount,
       (SUM(SalesAmount) / (SELECT SUM(SalesAmount) FROM Sales)) * 100 AS PercentageOfSales
FROM Sales
GROUP BY CategoryName;

In [ ]:
SELECT CustomerName, Email, SUM(PurchaseAmount) AS TotalPurchaseAmount
FROM Orders
GROUP BY CustomerName, Email
HAVING SUM(PurchaseAmount) = (
    SELECT MAX(TotalPurchaseAmount)
    FROM (
        SELECT CustomerName, SUM(PurchaseAmount) AS TotalPurchaseAmount
        FROM Orders
        GROUP BY CustomerName
    ) AS Subquery
);